h1{
  font-size: x-large;
  margin: 20px;
  width: 300px;
  height: 100px;
}
footer{
  margin: 100px 20px;
  width: 200px;
  height: 100px;
}

section{
  margin: 20px;
  width: 100px;
  height: 20px;
}

li{
  margin: 10px;
}

table{
  width: 200px;
}

th, td{
  padding: 7px 10px 10px 10px;
  border: 1px solid black;
}