h1{
  margin: 20px;
  width: 200px;
  height: 100px;
}
footer{
  margin: 100px 20px;
  width: 200px;
  height: 100px;
}

section{
  margin: 20px;
  width: 100px;
  height: 20px;
}

li{
  margin: 10px;
}
